body {
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    padding: 10px;
}

header {
    background-color: rgb(241, 240, 171);
    padding: 10px; /* Reduz o preenchimento */
    border-radius: 7px;
    display: flex;
    justify-content: space-between; /* Alinha os elementos à esquerda e à direita */
    align-items: center; /* Alinha verticalmente os itens */
}

.logo {
    border: 1px solid transparent;
    text-decoration: none;
    font-size: 42px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;

    
}
.logo img {
    width: 95px; 
    height: auto;
}


hr {
    border: 1px solid black;
}

.btn {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.btn:hover {
    background-color:  black;
    color: white;
    transition: 1s;
}

.botoes {
    display: flex;
}

.login {
    display: flex;
}

.btnAtivo {
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    display: inline-flex;
    margin-right: 25px;
    font-size: 16px;
    font-weight: 500;
    background-color: black;
    color: white;
}

.carousel-container {
    position: relative;
    width: auto;
    height: auto;
    margin: auto;
    overflow: hidden;
    margin-bottom: 20px; 
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    width: auto; 
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.meio_pagina {
    display: flex; 
    align-items: center; 
}

.meio_pagina img {

    margin: 40px 20px; 
}

.imagem1 {
    max-width: 20%;
    margin-right: 20px; 
}

.imagem2 {
    max-width: 75%; 
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .rodape p {
    margin: 0;
    font-size: 14px;
    color: #888;
  }